<h1><%= @deck.name%> </h1>

<ol>
<%@deck.cards.each do |card|%>
    <li><%= link_to card.name, card_path(card)%></li>
    <br>
<%end%>
</ol>

<%if @deck.cards.empty?%>
    <h4>A deck with no cards??? you can do better</h4>
<%end%>

<p><%= link_to "Add or Remove Cards to Deck", addcard_path(@deck)%></p>
<p><%=link_to "Card Index", cards_path%></p>
